<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.cascade.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cascade</string>
			</array>
		</dict>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Unlock your Private Vault with Face ID.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/entanglon/cascade/main/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>iALMM9Gtvt2iwIaZGMffq0E8p3KH+AUfTL07vdJ37z8=</string>
</dict>
</plist>
